@import "../../includes/includes";

body {

}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 4em;
}

h2, h3 {
  margin-top: 0;
}

p {
  margin: 0;
}

.bold {
  font-weight: 700;
}



.icons {
  float: right;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: .8em;
  text-align: center;
}

.download {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: .8em;
  text-align: center;
}

.icons {
  .material-icons {
    font-size: 36px;
  }
  div {
    display: inline-block;
    margin: 0 10px;
  }
}

.title {
  margin: 10px 0;
  font-size: 1.2em;
  .material-icons {
    position: relative;
    top: 3px;
    font-size: 1em;
    margin-right: 5px;
  }
}

.div-shadow {
  box-shadow: #999 2px 2px 5px;
  padding: 30px;
  margin: 15px 0;
  &.img {
    padding: 0;
    img {
      width: 100%;
    }
  }
  &.white {
    background: #fff;
  }
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

ol {
  padding: 0 15px;
}

li {
  margin: 10px 0;
}
