.btn {
  background: #fff;
  box-shadow: #666 5px 5px 10px;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  width: 100%;
  outline: none;

  p {
    font-weight: 700;
    letter-spacing: .5px;
    &:hover {
      color: inherit;
    }
  }
}