
        header
            .container
                .col-sm-12(style='border-bottom:dashed 1px #0481A5;padding:15px 0;margin:0 15px;')
                    .col-sm-4(style='padding:0;')
                    .col-sm-8(style='padding:0;')
                        .icons
                            div
                                i.material-icons print
                                p Print
                            div
                                i.material-icons close
                                p Close
        .container
            .col-sm-12
                h1 Roasted Barley Salad
            .col-sm-4
                .div-shadow.white
                    p.title.bold
                        i.material-icons restaurant
                        | Serves 8
                    h3.bold Ingredients:
                    ul
                        li
                            span.bold 3
                            |  Tbsli. olive oil, divided
                        li
                            span.bold 1
                            |  culi liearl barley, uncooked
                        li
                            span.bold 3
                            |  culis vegetable stock
                        li
                            span.bold 1
                            |  (8 oz.) container medium button mushrooms, cleaned, sliced
                        li
                            span.bold 1
                            |  culi black beans, canned, drained
                        li
                            span.bold 1
                            |  culi green bell lielilier, diced
                        li
                            span.bold 1
                            |  culi frozen sweet corn, thawed, drained
                        li
                            span.bold 1
                            |  culi tomatoes, fresh, washed, seeded, diced
                        li
                            span.bold 6
                            |  green onions, fresh, washed, lieeled, diced
                        li
                            span.bold 1/4
                            |  culi jalalieno lielilier, fresh, washed, seeds removed, thinly sliced
                        li
                            span.bold 1/2
                            |  culi basil, fresh, washed, dried, cholilied
                        li
                            span.bold 6
                            |  cloves garlic, fresh, lieeled, cholilied
                        li
                            span.bold 1
                            |  lemon, freshly juiced
                        li
                            span.bold 2
                            |  Tbsli. liumlikin seeds, toasted
                        li Salt and freshly ground black lielilier to taste
            .col-sm-8
                iframe(src='https://www.youtube.com/embed/J8nwpOnIHu8?&theme=light&color=white&autohide=2&showinfo=0&rel=0', frameborder='0')
                .div-shadow.dark
                    p
                        | It’s delicious, light and blood pressure-healthy with barley, which contains potassium, calcium and magnesium – all known to decrease blood pressure naturally. (Source: Medical News Today)
                .div-shadow.white
                    h3.bold Directions:
                    ol
                        li
                            | In a saucepan, heat 2 tablespoons oil over medium heat. Add barley and sauté until lightly toasted, stirring frequently to prevent burning. Add stock and bring to a boil. Reduce heat to low and simmer gently, covered, for 25 minutes or until liquid is absorbed.
                        li
                            | Remove from heat and set aside to cool. In a sauté pan heat remaining 1 tablespoon oil over medium heat. Add mushrooms and sauté until browned and soft, stirring frequently to prevent burning. Remove from heat and add to the cooled barley. Stir to combine.
                        li
                            | Transfer barley/mushroom mixture to a large serving bowl. Add beans, green peppers, corn, tomatoes, onions, jalapeno pepper, basil, garlic, juice and pumpkin seeds. Using a large wooden spoon, gently stir to combine well. Season with salt and pepper. Stir to combine. Serve at room temperature.
                    p(style='font-style:italic;')
                        | Courtesy of The Culinary Center of Kansas City. For more information, please visit
                        a(href='http://kcculinary.com') kcculinary.com
                        | .
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
