doctype
html.js
    include components/head/_head

    body(class=body_class)
        include components/header/_header
        != yield

        include components/footer/_footer
        script(src="js/vendor.bundle.js")
        script(src="js/bundle.js")