doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Keys to Wellness | Federal Employees Health Insurance Tool
        meta(name='ROBOTS', content='{site_index}, {site_follow}')
        meta(name='description', content='Get health care answers here for federal employees (FEHB) estimating annual insurance costs, finding in-network providers and choosing health plans.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/_css/bootstrap.css')
        link(rel='stylesheet', href='/_css/matt.css')
        link(rel='stylesheet', href='/_css/a-main.css')
        link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src='/_js/a-main.js')
    body.Homepage
        header
            #header
                #head-markup
        #body
            #feature-div-95.features-div.home.template-lock-0
                #feature-div-88.features-div.row.template-lock-0
                    #feature-div-89.features-div.col-sm-5.col-sm-offset-1.template-lock-0
                        #feature-image-90.features-image.logo-top.template-lock-0
                            img(src='/_userfiles/site/geha_logo_white.png', alt='GEHA logo', title='')
                        #feature-div-190.features-div.col-sm-8.transparent-div.template-lock-0
                            #feature-text-87.features-text.template-lock-0
                                h1
                                    span.bold
                                        | Welcome to
                                        br
                                        | Keys to Wellness,
                                    br
                                    | your resource
                                    br
                                    | for healthy ways
                                    br
                                    | to live better.
                                p(style='text-transform: uppercase; font-size: 12px; font-weight: bold; margin: 10px 0 0;') This month's focus:
                                p(style='text-transform: uppercase; font-size: 16px; font-weight: bold;') Blood Pressure
                            #feature-text-188.features-text.template-lock-0
                                p
                                    | Click below for
                                    br
                                    span.bold free tips and recipes.
                            button#feature-button-189.btn.form.col-xs-12.col-sm-12.col-md-10(type='button', special='')
                                .button-icon
                                p Take Me There
                            .clear-fix
                        .clear-fix
                    .clear-fix
                .clear-fix
            #feature-div-96.features-div.form-box.template-lock-0
                #feature-div-97.features-div.container.template-lock-0
                    #feature-form-168.features-form.row.basic-form.col-md-5.col-md-offset-7.template-lock-0(class='{reviewclass}')
                        form#form-168(name='form-168', method='post')
                            input#userformsubmit(type='hidden', name='userformsubmit', value='168')
                            input#form_type(type='hidden', name='form_type', value='open')
                            input#form_table(type='hidden', name='form_table', value='u_user_info')
                            input#okthen(type='hidden', name='okthen', value='')
                            #feature-text-191.features-text.template-lock-0
                                p(style='font-size: 16px; font-weight: bold; margin: 50px 0 20px; letter-spacing: .5px;') First, some basic information.
                            fieldset.features-open_field.ordinal-1.template-lock-0
                                label(for='t_first_name')
                                    input#t_first_name.text-field.field-lg(type='text', name='t_first_name', value='', data_valid='letters', data_require='yes', required='')
                                    span First Name
                                .message
                                // <div class="continue">NEXT</div>
                            fieldset.features-open_field.ordinal-2.template-lock-0
                                label(for='t_last_name')
                                    input#t_last_name.text-field.field-lg(type='text', name='t_last_name', value='', data_valid='letters', data_require='yes', required='')
                                    span Last Name
                                .message
                                // <div class="continue">NEXT</div>
                            fieldset.features-open_field.ordinal-3.template-lock-0
                                label(for='e_email')
                                    input#e_email.text-field.field-lg(type='text', name='e_email', value='', data_valid='email', data_require='yes', required='')
                                    span Email
                                .message
                                // <div class="continue">NEXT</div>
                            fieldset.features-open_field.ordinal-4.template-lock-0
                                label(for='t_zip_code')
                                    input#t_zip_code.text-field.field-lg(type='text', name='t_zip_code', value='', data_valid='numbers', data_require='', required='')
                                    span Zip Code
                                .message
                                // <div class="continue">NEXT</div>
                            fieldset.btns(class='{submit_class}')
                                input#submit-btn-168.button.submit-btn(onclick='', type='submit', value='Submit', name='submit-btn-168')
                    #feature-text-197.features-text.col-md-5.col-md-offset-7.template-lock-0
                        p.p1
                            | By providing your email address you agree to receive periodic email communications from GEHA, including our free monthly newsletter,
                            span.italic Health e-Report
                            | . And, at Open Season, you’ll get an email notification of 2018 GEHA plan rates and benefits.
                        p.p2
                            | You have the ability to opt out from any email communication from GEHA. GEHA will not share your information with any other party. GEHA respects the privacy of visitors to the GEHA website as well as those who subscribe to
                            span.italic Health e-Report
                            | . For more information, see our
                            a(href='https://www.geha.com/about-us/privacy-and-security/website-privacy-policy') privacy policy.
                    .clear-fix
                .clear-fix
        .clear-fix
        footer(style='display:none;')
            #footer
                #feature-navigation-94.features-navigation.template-lock-1
                    ul.navigation.lvl-0
                        li.sibling-
                            a(href='https://www.geha.com/About-Us/Privacy-and-Security/Website-Privacy-Policy', target='_blank') Privacy Policy
                        li.sibling-
                            a(href='https://www.geha.com/about-us/customer-service/contact-us', target='_blank') Contact Us
                        li.sibling-
                            a(href='https://www.geha.com', target='_blank') GEHA.com
        #foot
        | <
        script(type='text/javascript', src='/_js/list.min.js')
