@import "../../includes/includes";


.hero {
  &__content {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    justify-content: flex-end;

  }
  &__body {
    width: 50%;

    .title {
      @include font-sizer(30);
    }
    .copy {}
  }
}