$white: #FFF;
$off-white: #F6F6F6;
$gray-1: #E8E8E8;
$gray-2: #BBBCBC;
$gray-3: #808285;
$gray-4: #58595B;
$black: #000;

$purple: #500778;
$teal: #008AAB;
$teal-light: #009dbb;
$blue-green: #6BCABA;
$orange: #FFAD00;
$green: #78D64B;
$background: #ee7822;

$transparent: transparent;

$page-colors: ('teal', $teal, 60%), ('purple', $purple, 60%), ('orange', $orange, 40%);


@mixin page-colors() {
  @each $i in $page-colors {
    $hex: nth($i,2);
    $percent: nth($i,3);
    &.#{nth($i,1)} {
      // background: lighten($hex, $percent);
      color: nth($i,2);
      .st0 {
        fill: nth($i,2);
      }

      a {
        color: nth($i,2);
      }
      @content
    }
  }
}

