@import "../../../includes/includes";
.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  width: 100%;
  outline: none;

  p {
    font-weight: 700;
    letter-spacing: .5px;
    &:hover {
      color: inherit;
    }
  }
  &.play {
    background: transparent url('../../../../img/play.png') no-repeat center center;
    background-size: cover;
    @include vw-calc(width, 30);
    @include vw-calc(height, 30);
  }
}