@import "../../../includes/includes";
.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  width: 100%;
  outline: none;

  p {
    font-weight: 700;
    letter-spacing: .5px;
    &:hover {
      color: inherit;
    }
  }
  &.play {
    background-image: url('../../../../img/play_button.png');
    background-color: $transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    @include vw-calc(width, 30);
    @include vw-calc(height, 30);
  }
}