@import "../../includes/includes";

body {
  @include page-colors();
  font-family: "Avenir",Helvetica,Arial,sans-serif;
  font-size: $base-font;

}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}