@import "../../../includes/includes";

.pod {
  &__container {
    display: flex;
  }
  &__column {}

  .image {
    img {
      max-width: 100%;
    }
    i {
      font-size: 60px;
    }
  }
  .title {
    @include font-sizer(30);
    line-height: 30px;
    margin-bottom: 10px;
  }
  .copy {}
  .source {
    font-size: 10px;
  }

  .link {
    padding-top: 15px;

  }
  &3 {

  }

  &2 {
    border-top: solid 1px $gray-2;
  }
}