header#header.row
    .header__logo
        img(src="#{logo}")
    .header__menu.row
        for item in public.components.header._data.menu
            .menu__item
                a(href="#{item.path}" class=item.class) #{item.title}